<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="css\home.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang chủ | Notespace</title>
</head>
<body id="body">

  <!-- Navigation bar -->
  <nav>
    <div class="button">
      <button id="nav-btn"><i class="bi bi-list"></i></button>
    </div>
    <h1>Notespace</h1>
  </nav>
  
  <!-- Main page -->
  <div class="main-page">

    <!-- Left navigation bar -->
    <aside id="left-nav">
      <a href="" class="choose"><i class="bi bi-house-fill"><span>Trang chủ</span></i></a>
      <a href=""><i class="bi bi-person-fill"><span>Đăng nhập</span></i></a>
    </aside>

    <!-- Main -->
    <main id="main-page">
      
      <div class="welcome">
        <h1>Chào mừng đến với Notespace</h1>
        <p>Notespace là 1 trang web quản lý note của bạn</p>
        <a href="">Đăng nhập ngay</a>
      </div>

      <div class="about">
        <h2>Tại Notespace, bạn có thể</h2>

        <div class="about-list">
          <div class="about-block">
            <h3>Tạo note dễ dàng</h3>
          </div>
          <div class="about-block">
            <h3>Quản lý note nhanh chóng</h3>
          </div>
          <div class="about-block">
            <h3>Lưu trữ note hiệu quả</h3>
          </div>
          <div class="about-block">
            <h3>Xem note của mọi người dễ dàng</h3>
          </div>
        </div>
      </div>

    </main>

  </div>

</body>

<!-- Load scripts -->
<script src="js\nav_bar.js"></script>

</html>