:root{
  --primary: steelblue;
  --blurry: #bdbcbcce;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: grid;
  grid-template-areas: 
    "nav nav nav"
    "left content content"
  ;
  height: 100vh;
  grid-template-rows: 15% 85%;
  grid-template-columns: 15% 85%;
}
/* Body show - hide */
.bodyShow{
  grid-template-columns: 0% 100%;
}
.bodyHide{
  grid-template-columns: 20% 80%;
  background-color: var(--blurry);
}

nav{
  grid-area: nav;
  background-color: var(--primary);
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 30px;
}
nav button{
  background-color: transparent;
  border: 0;
  font-size: 25px;
  color: white;
  cursor: pointer;
}
nav h1{
  margin: 0px 20px;
}


aside{
  grid-area: left;
  background-color: var(--primary);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  font-size: 16px;
  width: 200px;
}
aside a{
  color: white;
  text-decoration: none;
  margin: 10px;
}
aside a i{
  margin: 0px 5px;
}
/* Animations */
@keyframes barShowAnimation {
  from{
    width: 0px;
  }
  to {
    width: 200px;
  }
}
@keyframes barHideAnimation {
  from{
    width: 200px;
  }
  to {
    width: 0px;
  }
}
/* Left bar show - hide */
.barShow{
  animation: barShowAnimation 0.2s;
  width: 200px;
}
.barHide{
  animation: barHideAnimation 0.2s;
  width: 0px;
  display: none;
}


main{
  grid-area: content;
  width: 100%;
}
/* Main show - hide */
.mainShow{
  display: block;
}
.mainHide{
  display: none;
}