/* Variables */
:root{
  --primary: steelblue;
  --primary-hide: rgb(52, 83, 109);
  --choose: rgb(116, 157, 190);
}


/* Animations */
@keyframes nav_show {
  from {
    width: 0px;
  }
  to {
    width: 250px;
  }
}


/* Page body */
body{
  background-color: var(--primary);
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body::-webkit-scrollbar{
  width: 5px;
}
body::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 10px;
}


/* Navigation bar */
nav{
  background-color: white;
  display: flex;
  padding: 10px;
  position: sticky;
  z-index: 1000;
  top: 0;
}
nav .nav-btn-zone{
  display: grid;
  place-content: center;
}
nav #nav-button{
  font-size: 25px;
  border: 0;
  background-color: transparent; 
  font-weight: 900;
}
nav .icon-zone h1{
  padding: 0px 20px;
}
main{
  width: 100%;
  height: 100%;
  display: flex;
}
main .show{
  animation: nav_show 0.2s;
  display: flex;
  flex-direction: column;
}
main .hide{
  display: none;
}
main #left-bar{
  background-color: white;
  width: 250px;
  height: 70vh;
  padding: 10px 0px;
  border-bottom-right-radius: 20px;
}
main #left-bar a{
  text-decoration: none;
  color: black;
  padding: 15px;
}
main #left-bar a i{
  padding: 0px 5px;
}
main #left-bar .choose{
  background-color: var(--primary);
  color: white;
}
main #left-bar a:hover{
  background-color: var(--choose);
  color: white;
}


/* Main page */
main .main-show{
  display: flex;
  justify-content: center;
}
main .main-hide{
  display: none;
}
main #main-page{
  width: 100%;
  padding: 40px 0px;
}
main #main-page form{
  background-color: white;
  padding: 40px 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
}
form .input{
  margin: 5px 10px;
  padding: 5px 0px;
  display: flex;
}
form .input label{
  padding: 5px 10px;
  background-color: var(--primary);
  color: white;
  border: 1px solid var(--primary);
  border-radius: 10px 0px 0px 10px;
}
form .input input{
  width: 180px;
  margin: 0px;
  padding: 10px 5px;
  border: 0px;
  outline: none;
  border: 1px solid var(--primary);
  border-left: 0;
  border-radius: 0px 10px 10px 0px;
}

form .submit{
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  margin-bottom: 0;
}
form .submit input[type="submit"]{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  border: 0;
  color: white;
  background-color: red;
  width: fit-content;
  padding: 10px 40px;
  margin: 10px;
  border-radius: 20px;
}
form p{
  margin: 3px;
  font-size: 13px;
}
form p a{
  color: black;
}