<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static\css\home.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang chủ | Notespace</title>
</head>
<body id="body">
  
  <!-- Navigation bar -->
  <nav>
    <div class="nav-btn-zone">
      <button id="nav-button"><i class="bi bi-list"></i></button>
    </div>
    <div class="icon-zone">
      <h1>Notespace</h1>
    </div>
  </nav>

  <main>
    <div id="left-bar">
      <a href="/" class="choose"><i class="bi bi-house-fill"></i>Trang chủ</a>
      <a href="/login"><i class="bi bi-person-fill"></i>Đăng nhập</a>
    </div>

    <div id="main-page">
      <div class="welcome">
        <h2>Chào mừng đến với Notespace</h2>
        <p><strong>Notespace</strong> là 1 trang web lưu trữ note của bạn</p>
      </div>

      <div class="about">
        <h1>Tại Notespace, bạn có thể</h1>
        <div class="about-list">
          <div class="about-card">
            <h3>Tạo các note của riêng bạn</h3>
            <p>Bạn có thể tạo note của bạn đơn giản & nhanh chóng</p>
          </div>
          <div class="about-card">
            <h3>Quản lý các note dễ dàng</h3>
            <p>Tất cả các note đều được hiển thị đầy đủ</p>
          </div>
          <div class="about-card">
            <h3>Chia sẻ note của bạn</h3>
            <p>Bạn có thể chia sẻ note cho mọi người cùng xem</p>
          </div>
          <div class="about-card">
            <h3>Xem các note của mọi người</h3>
            <p>Bạn có thể xem các note của mọi người</p>
          </div>
        </div>
      </div>

      <footer>
        <h2>Notespace</h2>
        <p>Được tạo bởi: Phatcraft</p>
      </footer>
    </div>
  </main>

</body>
<script src="static\js\navButton.js"></script>
</html>