<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css\login.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Đăng nhập | Notespace</title>
</head>
<body id="body">
  
  <!-- Navigation bar -->
  <nav>
    <div class="nav-btn-zone">
      <button id="nav-button"><i class="bi bi-list"></i></button>
    </div>
    <div class="icon-zone">
      <h1>Notespace</h1>
    </div>
  </nav>

  <main>
    <div id="left-bar">
      <a href="/"><i class="bi bi-house-fill"></i>Trang chủ</a>
      <a href="/login" class="choose"><i class="bi bi-person-fill"></i>Đăng nhập</a>
    </div>

    <div id="main-page">
      <form id="form" method="post">
        <h1>Đăng nhập</h1>
        <div class="input">
          <label><i class="bi bi-person-fill"></i></label>
          <input type="text" name="username" placeholder="Tên đăng nhập">
        </div>
        <div class="input">
          <label><i class="bi bi-key-fill"></i></label>
          <input type="password" name="password" placeholder="Mật khẩu">
        </div>
        
        <div class="submit">
          <input type="submit" value="Đăng nhập">
        </div>

        <p>Chưa có tài khoản? Đăng ký tại <a href="">đây</a></p>
      </form>
    </div>
  </main>

</body>
<script src="js\navButton.js"></script>
<script src="js\login.js"></script>
</html>